[submodule ".plenv"]
	path = .plenv
	url = https://github.com/tokuhirom/plenv.git
[submodule ".rakudobrew"]
	path = .rakudobrew
	url = https://github.com/tadzik/rakudobrew.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-perl"]
	path = .vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
[submodule ".vim/bundle/vim-schlepp"]
	path = .vim/bundle/vim-schlepp
	url = https://github.com/zirrostig/vim-schlepp.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/vim-pathogen"]
	path = .vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "rustup.rs"]
	path = rustup.rs
	url = https://github.com/rust-lang-nursery/rustup.rs
[submodule ".rbenv"]
	path = .rbenv
	url = https://github.com/rbenv/rbenv
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
